/* Homepage */

.navbar-brand {
    /*text-align: center;*/
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/*.navbar-header {
    color: white;
} */

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bold;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: black;
}

#title-text {
    color: white;
    font-weight: bold;
    font-size: 70px;
    position: absolute;
    top:200px;
    height:25px;
    padding-left: 100px;
    padding-right: 100px;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

#intro {
    position: relative;
    background-color: lightgray;
    background-image: url("../img/greenfence.jpeg");
    height: 575px;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    font-family: 'Open Sans', sans-serif;
    /*font-weight:bold;*/
    text-align: center;
    word-wrap: break-word;
}

#article {
    position: absolute;
    top: 700px;
    font-family: Roboto Slab;
    font-size: 20px;
    color: black;
}

.size {
    padding-top: 50px;
    width: 400px;
    height: 700px;
}

#bottom {
    height: 900px;
    background-color: #F5F5F5;
}

#foot {
    background-color: #4D606E;
    height: 200px;
}

/* Relationship */
.carousel-caption {
    top: 38%;
    transform: translateY(-50%);
    bottom: initial;
}

.carousel-img {
    width: 100%;
}

.carousel-inner {
    width: 100%;
    height: 650px;
}

.captions {
    font-size: 80px;
}

.container {
    width: auto;
}

#myCarousel {
    height: 650px;
    width: 100%;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#info {
    background-color: #D3D4D8;
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Roboto Slab;
    font-size: 20px;
    color: black;
}

.rel {
    text-align: center;
}

.space {
    padding-bottom: 20px;
}

/* RELIGIONS */

#top {
    background-color: #4D606E;
    height: 575px;
}

#middle {
    height: 575px;
    background-color: #3FBAC2;
}

#end {
    height: 575px;
    background-color: #D3D4D8;
}

#four {
    height: 675px;
    background-color: #4D606E;
}
    

.full-width {
    width: 100%;
    height: 400px;
}

.top-space {
    padding-top:60px;
    
}

.sculpture {
    height: 500px;
    width: 400px;
}
/*
turquoise: #3FBAC2
light gray: #D3D4D8
navy blue: #4D606E
super light gray: #F5F5F5
*/

/* SOURCES */

#first {
    background-color:#D3D4D8;
    height: 575px;
}

#sec {
    background-color: #4D606E;
    height: 575px;
}

#last {
    background-color: #3FBAC2;
    height: 575px;
}

/*darwin pic url: https://s-media-cache-ak0.pinimg.com/236x/3d/83/a2/3d83a22572a1a3fa9a24b73c06eacad3.jpg */
